<!DOCTYPE web-app PUBLIC 
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>

	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<display-name>CharacterEncodingFilter</display-name>
		<description></description>
		<filter-class>com.TechLog.Filters.CharacterEncodingFilter</filter-class>
	</filter>
	<filter>
		<filter-name>PublicRestrictedServletsFilter</filter-name>
		<display-name>PublicRestrictedServletsFilter</display-name>
		<description></description>
		<filter-class>com.TechLog.Filters.PublicRestrictedServletsFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CustomerDomainCreatePermissionFilter</filter-name>
		<display-name>CustomerDomainCreatePermissionFilter</display-name>
		<description></description>
		<filter-class>com.TechLog.Filters.CustomerDomainCreatePermissionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CustomerDomainReadPermissionFilter</filter-name>
		<display-name>CustomerDomainReadPermissionFilter</display-name>
		<description></description>
		<filter-class>com.TechLog.Filters.CustomerDomainReadPermissionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CustomerDomainUpdatePermissionFilter</filter-name>
		<display-name>CustomerDomainUpdatePermissionFilter</display-name>
		<description></description>
		<filter-class>com.TechLog.Filters.CustomerDomainUpdatePermissionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>CustomerDomainDeletePermissionFilter</filter-name>
		<display-name>CustomerDomainDeletePermissionFilter</display-name>
		<description></description>
		<filter-class>com.TechLog.Filters.CustomerDomainDeletePermissionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UserDomainCreatePermissionFilter</filter-name>
		<display-name>UserDomainCreatePermissionFilter</display-name>
		<description></description>
		<filter-class>com.TechLog.Filters.UserDomainCreatePermissionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UserDomainReadPermissionFilter</filter-name>
		<display-name>UserDomainReadPermissionFilter</display-name>
		<description></description>
		<filter-class>com.TechLog.Filters.UserDomainReadPermissionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UserDomainUpdatePermissionFilter</filter-name>
		<display-name>UserDomainUpdatePermissionFilter</display-name>
		<description></description>
		<filter-class>com.TechLog.Filters.UserDomainUpdatePermissionFilter</filter-class>
	</filter>
	<filter>
		<filter-name>UserDomainDeletePermissionFilter</filter-name>
		<display-name>UserDomainDeletePermissionFilter</display-name>
		<description></description>
		<filter-class>com.TechLog.Filters.UserDomainDeletePermissionFilter</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>PublicRestrictedServletsFilter</filter-name>
		<url-pattern>/createCustomer</url-pattern>
		<url-pattern>/CreateCustomer</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CustomerDomainCreatePermissionFilter</filter-name>
		<url-pattern>/CustomerDomainCreatePermissionFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CustomerDomainReadPermissionFilter</filter-name>
		<url-pattern>/CustomerDomainReadPermissionFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CustomerDomainUpdatePermissionFilter</filter-name>
		<url-pattern>/CustomerDomainUpdatePermissionFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CustomerDomainDeletePermissionFilter</filter-name>
		<url-pattern>/CustomerDomainDeletePermissionFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserDomainCreatePermissionFilter</filter-name>
		<url-pattern>/UserDomainCreatePermissionFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserDomainReadPermissionFilter</filter-name>
		<url-pattern>/UserDomainReadPermissionFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserDomainUpdatePermissionFilter</filter-name>
		<url-pattern>/UserDomainUpdatePermissionFilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>UserDomainDeletePermissionFilter</filter-name>
		<url-pattern>/UserDomainDeletePermissionFilter</url-pattern>
	</filter-mapping>
	
	<servlet>
		<servlet-name>CreateCustomer</servlet-name>
		<display-name>CreateCustomer</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.CreateCustomer</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>ReadCustomer</servlet-name>
		<display-name>ReadCustomer</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.ReadCustomer</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>SearchCustomer</servlet-name>
		<display-name>SearchCustomer</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.SearchCustomer</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>UpdateCustomer</servlet-name>
		<display-name>UpdateCustomer</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.UpdateCustomer</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>DeleteCustomer</servlet-name>
		<display-name>DeleteCustomer</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.DeleteCustomer</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>Initialization</servlet-name>
		<display-name>Initialization</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.Initialization</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Logout</servlet-name>
		<display-name>Logout</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.Logout</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateUser</servlet-name>
		<display-name>CreateUser</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.CreateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReadUser</servlet-name>
		<display-name>ReadUser</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.ReadUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateUser</servlet-name>
		<display-name>UpdateUser</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.UpdateUser</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUser</servlet-name>
		<display-name>DeleteUser</display-name>
		<description></description>
		<servlet-class>com.TechLog.Controllers.DeleteUser</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CreateCustomer</servlet-name>
		<url-pattern>/CreateCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ReadCustomer</servlet-name>
		<url-pattern>/ReadCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>SearchCustomer</servlet-name>
		<url-pattern>/SearchCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UpdateCustomer</servlet-name>
		<url-pattern>/UpdateCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeleteCustomer</servlet-name>
		<url-pattern>/DeleteCustomer</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Initialization</servlet-name>
		<url-pattern>/Initialization</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/Logout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateUser</servlet-name>
		<url-pattern>/CreateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReadUser</servlet-name>
		<url-pattern>/ReadUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateUser</servlet-name>
		<url-pattern>/UpdateUser</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUser</servlet-name>
		<url-pattern>/DeleteUser</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>